{% extends 'base.html' %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block script %}{% endblock %}

{% block main %}
<h2> Новогодние подарки </h2>

<p>Неоткрытых коробок: <span id="count">{{ unopened_count }}</span></p>

<div class="user-status">
    {% if current_user.is_authenticated %}
        Вы вошли как: <strong>{{ current_user.login }}</strong>
    {% else %}
        Вы не авторизованы
    {% endif %}
</div>
{% if not current_user.is_authenticated %}
    <li><a class="menu-link" href="/lab8/login">Вход</a></li>
    <li><a class="menu-link" href="/lab8/register">Регистрация</a></li>
{% endif %}
{% if current_user.is_authenticated %}
    <li><a class="menu-link" href="/lab8/logout">Выход</a></li>
{% endif %}

{% if current_user.is_authenticated %}
<button onclick="resetBoxes()"> Дед Мороз</button>
{% endif %}

<div style="position: relative; height: 400px;">
    {% for id, box in boxes.items() %}
        <img
            src="/static/{{ box.box }}"
            id="box{{ id }}"
            onclick="openBox({{ id }})"
            style="
                position: absolute;
                top: {{ positions[id]['top'] }}px;
                left: {{ positions[id]['left'] }}px;
                width: 200px;
                cursor: pointer;
                {% if box.opened %}opacity: 0.3;{% endif %}
            "
        >
    {% endfor %}
</div>

<div id="result"></div>
<div id="modal" style="
    display:none;
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.6);
">
    <div style="
        background:white;
        width:500px;
        margin:60px auto;
        padding:20px;
        text-align:center;
        position:relative;
    ">
        <span onclick="closeModal()" style="
            position:absolute;
            top:5px; right:10px;
            cursor:pointer;
        ">✖</span>

        <div id="modal-content"></div>
    </div>
</div>
<style>
    footer {
        margin-top: 100px;
    }
</style>
<script>
function openBox(id) {
    fetch('/lab9/open', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({box_id: id})
    })
    .then(r => r.json())
    .then(data => {
        if (data.error) { alert(data.error); return; }

        document.getElementById('box' + id).style.opacity = '0.3';

        document.getElementById('modal-content').innerHTML =
            `<p>${data.text}</p>
            <img src="/static/${data.gift}" width="400">`;

        document.getElementById('modal').style.display = 'block';
        document.getElementById('count').innerText = data.opened_left;
    });
}

function closeModal() {
    document.getElementById('modal').style.display = 'none';
}

function resetBoxes() {
    fetch('/lab9/reset', {method: 'POST'})
        .then(() => location.reload());
}
</script>
{% endblock %}