{% extends 'base.html' %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <style>
        form {
            background: #fff8ef;
            padding: 15px;
            border-radius: 10px;
            width: 500px;
            margin: auto;
            border: 1px solid #ddc6ae;
        }
        input, textarea {
            width: 95%;
            margin-top: 5px;
            padding: 8px;
            border-radius: 6px;
            border: 1px solid #bda890;
        }
        button{
            margin-top: 10px;
            padding: 8px 16px;
            background: #6b4a2e;
            color: beige;
            border: none;
            border-radius: 6px;
        }
        button:hover{
            background: #8b6546;
        }
    </style>

    <h1 style="text-align:center;">Редактирование статьи</h1>

    <form method="post">
        <label>
            <div>Название статьи:</div>
            <input type="text" maxlength="50" name="title" value="{{ article.title }}">
        </label>

        <label>
            <div>Текст статьи:</div>
            <textarea name="article_text" rows="7">{{ article.article_text }}</textarea>
        </label>

        <button type="submit">Сохранить</button>
    </form>

    <div style="text-align:center; margin-top:20px;">
        <a href="/lab5/list">Назад к списку</a>
    </div>
{% endblock %}
