{% extends 'base.html' %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<style>
    .menu{
        padding: 10px;
        display: flex;
        align-items: center;
    }
    .menu a{
        padding: 6px 12px;
        background: #482f1e;
        border-radius: 10px;
        text-decoration: none;
        border: 1px solid #331f10;
        margin-left: auto;
        color: beige;
    }
    .user {
        font-weight: bold;
        font-size: 20px;
        color: rgb(4, 141, 13);
    }
</style>
    <h1>База знаний</h1>
    <div class="user">
        {% if login %}
            Пользователь: {{ login  }}
        {% else %}
            Anonymous
        {% endif %}
    </div>
    <div class="menu">
        <a href="/lab5/public">Публичные статьи</a>
        {% if login %}
            <a href="/lab5/list">Список своих статей</a>
        {% endif %}
        <a href="/lab5/create">Создать статью</a>
        <a href="/lab5/users">Список пользователей</a>
        <a href="/lab5/change">Сменить данные</a>
        <a href="/lab5/register">Регистрация</a>
        <a href="/lab5/login">Войти</a>
        <a href="/lab5/logout">Выйти</a>
    </div>
{% endblock %}