{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab2/example">example</a>
        </li>
        <li>
            <a href="/lab2/a/">Адрес со слешем</a>
        </li>
        <li>
            <a href="/lab2/a">Адрес без слеша</a>
        </li>
        <li>
            <a href="/lab2/flowers/2">Номер цветка</a>
        </li>
        <li>
            <a href="/lab2/add_flower/пион">Добавление цветка</a>
        </li>
        <li>
            <a href="/lab2/add_flower">Ошибка незаданного имени</a>
        </li>
        <li>
            <a href="/lab2/flowers/all">Список цветов</a>
        </li>
        <li>
            <a href="/lab2/clean_flower">Очистка списка цветов</a>
        </li>
        <li>
            <a href="/lab2/filters">Фильтры</a>
        </li>
        <li>
            <a href="/lab2/calc/">Калькулятор</a>
        </li>
        <li>
            <a href="/lab2/books">Книги</a>
        </li>
        <li>
            <a href="/lab2/cats">Котики</a>
        </li>
    </ol>
{% endblock %}