{% extends 'base.html' %}

{% block lab %}Лабораторная работа 7{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='lab7/main.js')}}"></script>
<style>
    h1 {
        text-align: center;
        margin-bottom: 25px;
        font-weight: 600;
    }

    table {
        width: 90%;
        margin: 0 auto;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    thead {
        background: #a14b58;
        color: white;
    }

    th, td {
        padding: 12px 14px;
        text-align: left;
        border-bottom: 1px solid #e1e1e1;
    }

    button {
        cursor: pointer;
        border: none;
        border-radius: 6px;
        padding: 9px 15px;
        font-size: 15px;
        font-weight: 500;
        margin: auto;
        background: #a14b58;
        color: white;  
    }
    button[onclick="addFilm()"] {
        display: block;
        margin: 25px auto;
    }

    button[onclick="sendFilm()"] {
        margin-right: 10px;
    }
    button[onclick="cancel()"] {
        color:#56272e;
        background: #ddd;
    }
    .modal {
        display: none;
        z-index: 100;
        background: #ffffff;
        width: 420px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        padding: 25px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    }

    label {
        display: block;
        margin-bottom: 12px;
        font-size: 15px;
        text-align: center;
    }

    input, textarea {
        width: 100%;
        padding: 7px 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 14px;
        margin-top: 5px;
        box-sizing: border-box;
    }

    textarea {
        min-height: 85px;
        resize: vertical;
    }

    .error-message {
        color: #d10000;
        font-size: 13px;
        margin-top: 4px;
    }
</style>
{% endblock %}

{% block main %}
    <h1>Список фильмов</h1>

    <table>
        <thead>
            <tr>
                <th>Название на русском</th>
                <th>Оригинальное название</th>
                <th>Год</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="film-list"></tbody>
    </table>

    <script>
        fillFilmList();
    </script>
    <div>
        <button onclick="addFilm()">Добавить фильм</button>
    </div>

    <div class="modal">
        <input type="hidden" id="id">
        <label>
            Название фильма на русском языке:
            <input type="text" id="title-ru">
        </label><br>

        <label>
            Название фильма на оригинальном языке
            <i>(если фильм русский, то оставьте пустым):</i>
            <input type="text" id="title">
        </label><br>

        <label>
            Год выпуска:
            <input type="number" id="year">
        </label><br>

        <label>
            Описание:
            <textarea id="description"></textarea>
            <div id="description-error" class="error-message"></div>
        </label><br>

        <button onclick="sendFilm()">ОК</button>
        <button onclick="cancel()">Отмена</button>
    </div>
{% endblock %}