{% extends "rgz/base.html" %}

{% block content %}
<div class="auth-container">
    <h2>Вход в систему</h2>
    
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}
    
    <form method="post" class="auth-form">
        <div class="form-group">
            <label for="login1">Логин</label>
            <input type="text" id="login1" name="login1" required
                    pattern="[a-zA-Z0-9._-]{3,50}" 
                    title="Только латинские буквы, цифры и символы ._- (3-50 символов)">
            <small>Латинские буквы, цифры, ._- (3-50 символов)</small>
        </div>
        
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required
                    minlength="6"
                    pattern="[a-zA-Z0-9!@#$%^&*()_+\-=\[\]{};':&quot;\\|,.<>\/?]+"
                    title="Латинские буквы, цифры и спецсимволы (минимум 6 символов)">
            <small>Минимум 6 символов: латинские буквы, цифры, спецсимволы</small>
        </div>
        
        <button type="submit" class="btn-submit">Войти</button>
    </form>
    
    <div class="auth-links">
        <p>Нет аккаунта? <a href="{{ url_for('rgz.register') }}">Зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}