{% extends 'rgz.html' %}
{% block main %}
  <h2>Регистрация</h2>
  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}
  <form method="post" class="auth-form">
    <label>Логин (латиница, цифры, знаки)</label>
    <input type="text" name="login" required>

    <label>Пароль</label>
    <input type="password" name="password" required>

    <label>ФИО</label>
    <input type="text" name="full_name" required>

    <button class="btn-main" type="submit">Зарегистрироваться</button>
  </form>
{% endblock %}