{% extends 'base.html' %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<style>
    .form-box {
        max-width: 600px;
        background: #f4f1ee;
        padding: 20px;
        border-radius: 12px;
        border: 1px solid #c8b7a6;
    }
    textarea {
        width: 100%;
        height: 150px;
    }
    button {
        margin-top: 10px;
        padding: 8px 16px;
        background: #482f1e;
        color: beige;
        border: none;
        border-radius: 8px;
    }
</style>

    <div class="form-box">
        <h1>Редактировать статью</h1>

        <form method="post">
            <label>
                Заголовок:
                <input type="text" name="title" value="{{ article.title }}">
            </label>

            <label>
                Текст статьи:
                <textarea name="article_text">{{ article.article_text }}</textarea>
            </label>

            <label>
                <input type="checkbox" name="is_public" {% if article.is_public %}checked{% endif %}>
                Публичная
            </label>

            <label>
                <input type="checkbox" name="is_favorite" {% if article.is_favorite %}checked{% endif %}>
                Избранная
            </label>

            <button type="submit">Сохранить</button>

            {% if error %}
                <div style="color:red">{{ error }}</div>
            {% endif %}
        </form>

        <a href="/lab8/articles">Назад</a> |
        <a href="/lab8/">На главную</a>
    </div>
{% endblock %}
