{% extends 'base.html' %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<style>
    .menu{
        padding: 10px;
        display: flex;
        align-items: center;
    }
    .menu a{
        padding: 6px 12px;
        background: #482f1e;
        border-radius: 10px;
        text-decoration: none;
        border: 1px solid #331f10;
        margin-left: auto;
        color: beige;
    }
    .user {
        font-weight: bold;
        font-size: 20px;
        color: rgb(4, 141, 13);
    }
</style>

    <h1>База знаний</h1>
    <div class="user">
        Anonymous
    </div>
    <div class="menu">
        <a href="/lab8/articles">Список статей</a>
        <a href="/lab8/create">Создать статью</a>
        <a href="/lab8/login">Войти</a>
        <a href="/lab8/register">Регистрация</a>
    </div>
{% endblock %}